:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --logo-acent-color: #000000;
  --primary-acent-color: #2196f3;
  --primary-background-color: #2f303a;
  --primary-white: #ffffff;
  --primary-dark-color: #212121;
  --text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --address-contact-color: rgba(255, 255, 255, 0.6);
  --header-border-color: rgba(236, 236, 236, 1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --borderbox-color: rgba(238, 238, 238, 1);
}
body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

/* сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

ul {
  list-style: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* стили хэдера */
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}
.header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-acent-color);
}
.header-logo-acent {
  color: var(--logo-acent-color);
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.menu-link:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--primary-dark-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-acent-color);
}

.nav-link.carent {
  color: var(--primary-acent-color);
}
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-add:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-acent-color);
}

/* стили сайта */

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: var(--primary-white);
}

.hero-page {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/bg-Img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--primary-acent-color);
  border-color: var(--primary-acent-color);
  border: 0px;
  border-radius: 4px;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  list-style: none;
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.feature {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

.activity {
  padding-bottom: 94px;
}

.example {
  display: flex;
  margin-top: 50px;
}

.example-pic:not(:last-child) {
  margin-right: 30px;
}

.team-page {
  background-color: var(--secondary-background-color);
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  background-color: var(--primary-white);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

.team-member-position {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* стиль футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}
.footer-logo-acent {
  color: var(--primary-white);
}
.map-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}
.address-contact {
  color: var(--address-contact-color);
}
.address-contact:focus,
.address-contact:hover {
  color: var(--primary-white);
}
.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contact-link:not(:last-child) {
  margin-bottom: 9px;
}

/* стили портфолио */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
}
.portfolio-button.carent,
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white);
  background-color: var(--primary-acent-color);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.project-example {
  margin: 15px;
  flex-basis: calc(100% / 3 - 30px);
}
.projects-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}
.example-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  /* border-color: var(--borderbox-color); */
  border-top: none;
}
