:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --logo-acent-color: #000000;
  --primary-acent-color: #2196f3;
  --primary-background-color: #2f303a;
  --primary-white: #ffffff;
  --primary-dark-color: #212121;
  --text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --address-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-acent-color);
}
.header-logo-acent {
  color: var(--logo-acent-color);
}
.nav-link {
  color: var(--primary-dark-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-acent-color);
}

.nav-link.carent {
  color: var(--primary-acent-color);
}

.contact-link {
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-acent-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.hero-page {
  background-color: var(--primary-background-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--primary-acent-color);
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.features {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

.team-page {
  background-color: var(--secondary-background-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

.team-member-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* стиль футера */
.footer {
  background-color: var(--primary-background-color);
}
.footer-logo-acent {
  color: var(--primary-white);
}
.map-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}
.address-contact {
  color: var(--address-contact-color);
}
.address-contact:focus,
.address-contact:hover {
  color: var(--primary-white);
}
.address {
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* стили портфолио */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}
.portfolio-button.carent,
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white);
  background-color: var(--primary-acent-color);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
