:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --logo-acent-color: #000000;
  --primary-acent-color: #2196f3;
  --primary-background-color: #2f303a;
  --primary-white: #ffffff;
  --primary-dark-color: #212121;
  --text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --address-contact-color: rgba(255, 255, 255, 0.6);
  --header-border-color: rgba(236, 236, 236, 1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --borderbox-color: rgba(238, 238, 238, 1);
  --social-link-color: #afb1b8;
  --social-link-shadow: rgba(0, 0, 0, 0.25);
}
body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

/* сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

ul {
  list-style: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* стили хэдера */
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}
.header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-acent-color);
}
.header-logo-acent {
  color: var(--logo-acent-color);
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.menu-link {
  position: relative;
}

.menu-link:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--primary-dark-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-acent-color);
}

.nav-link.carent {
  color: var(--primary-acent-color);
  position: relative;
}

.nav-link.carent::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-acent-color);
  position: absolute;
  bottom: -33px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-add:not(:last-child) {
  margin-right: 30px;
}

.contact-link {
  display: flex;
  color: var(--text-color);
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-acent-color);
  fill: var(--primary-acent-color);
}

/* стили сайта */

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: var(--primary-white);
}

.hero-page {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-Img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--primary-acent-color);
  border-color: var(--primary-acent-color);
  border: 0px;
  border-radius: 4px;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  list-style: none;
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}
.features-title {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.feature {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

.activity {
  padding-bottom: 94px;
}

.example {
  display: flex;
  margin-top: 50px;
}

.example-pic:not(:last-child) {
  margin-right: 30px;
}

.example-box {
  position: relative;
}

.example-text {
  position: absolute;
  bottom: 0;

  padding: 27px;
  height: 70px;
  width: 100%;

  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-page {
  background-color: var(--secondary-background-color);
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  background-color: var(--primary-white);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}

.team-member-position {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.team-box {
  text-align: center;
  padding: 30px 32px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-link-color);
  box-shadow: 0px 4px 4px rgba(32, 5, 5, 0.25);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--primary-acent-color);
  fill: var(--primary-white);
}

.client-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--social-link-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--primary-acent-color);
  fill: var(--primary-acent-color);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}
/* стиль футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}
.footer-logo-acent {
  color: var(--primary-white);
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.map-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}
.address-contact {
  color: var(--address-contact-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contact:focus,
.address-contact:hover {
  color: var(--primary-white);
}
.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contact-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-right: 70px;
}

.footer-social-title {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--primary-acent-color);
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
/* стили портфолио */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button.carent,
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white);
  background-color: var(--primary-acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.project-example {
  margin: 15px;
  flex-basis: calc(100% / 3 - 30px);
}

.projects-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.project-name-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-box {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-box:hover,
.project-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white);
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-box:hover .overlay,
.project-box:focus .overlay {
  transform: translateY(0%);
}

/* стили модального окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  background-color: var(--primary-white);
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
